.DS_Store

# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtual environment
.venv/
.new_venv/

# Data
data/
# Logs
lightning_logs/
# Serialized Models
models/

# Other to ignore (for now)
#Tests
tests/
# Ignore web app for now
app/
package.json
