.DS_Store

# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Ignore node_modules
node_modules/

# Virtual environment
.venv/
.new_venv/

# Data
data/

# Tests
tests/

# Logs
lightning_logs/

# Serialized Models
models/

# Ignore web app for now
app/
