# Raw data
endpoint: 'leaguegamefinder'
raw_dir: 'data/raw' 
raw_file_name: 'raw.csv'

# Clean data
clean_dir: 'data/clean'
db_name: 'my_database.db'

game_metadata_table_name : 'game_metadata'
game_meta_cols: 
  - 'UNIQUE_ID'
  - 'SEASON_ID'
  - 'IS_HOME'
  - 'GAME_ID'
  - 'GAME_DATE'
  - 'MATCHUP'
  - 'WL'

team_metadata_table_name : 'team_metadata'
team_meta_cols:
  - 'SEASON_ID'
  - 'TEAM_ID'
  - 'TEAM_ABBREVIATION'
  - 'TEAM_NAME'

main_table_name: 'game_data'
main_cols_to_drop:
  - 'SEASON_ID'
  - 'GAME_ID'
  - 'TEAM_ABBREVIATION'
  - 'TEAM_NAME'
  - 'GAME_DATE'
  - 'MATCHUP'
  - 'WL'
  - 'FG_PCT'
  - 'FT_PCT'
  - 'FG3_PCT'

# Modeling
model_dir: 'models/'
